/* Wraps the info for a single leg of the trip */
.legContainerHorizontal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.iconHolderColumn {
  width: 75px;
  min-height: 80px;
  text-align: center;
  vertical-align: middle;
}

.iconHolderColumn p {
    margin: 0px;
    padding: 3px 0 3px 0;
}

.stopCircleIcon {
  border-radius: 100%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  padding: 0 0 0 0;
  margin: 0 auto 0 auto;
}

/* The circle icon for the final leg */
.endCapCircleIcon {
    background-color: transparent;
}
/* Column containing the line icon */
.stopPadderColumn {
  position: relative;
  width: 5px;
  height: 100%;
  background-color: red;
}

/* The final padder column for the last leg */
.endCapPadder {
  height: 1px;
}
/* White circle icon for a stop */
.stopPadderPin {
  position: absolute;
  top: -5px;
  left: -4px;
  background-color: white;
  border: 2px black solid;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  padding: 0 0 0 0;
  margin: 0 auto 0 auto;
}

/* Column containing the stop information */
.stopInfoColumn {
  min-width: 100px;
  min-height: 75px;
}

.stopInfoColumn p {
    margin: 0px;
    padding: 0 0 0 0;
}



/* Wraps the center column of a single leg */
.visualColumnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35px;
}

.stopInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Wraps all route information */
.stopCardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.stopCircleInfo {
  height: 40px;
  text-align: left;
  padding: 0 0 0 10px;
}

.infoTop {
  padding-top: 20px;
}

.infoBot {
  padding-top: 10px;
}
.stopPadderInfo {
  height: 40px;
  text-align: left;
  padding: 12px 0 0 10px;
}
